body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: rgb(255,220,235);
  background: linear-gradient(90deg, rgba(255,220,235,1) 0%, rgba(212,231,255,1) 21%);
}

div {
  text-align: center;
}

#noButton {
  position: absolute;
  margin-left: 150px;
  transition: 0.5s;
  margin-top: 30px;
}

@keyframes increaseSize {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2); /* You can adjust this scaling factor as needed */
  }
}

#yesButton {
  position: absolute;
  margin-right: 150px;
  margin-top: 30px;
  transition: transform 0.3s; /* Adding a smooth transition */
}

#yesButton:hover {
  animation: increaseSize 1s infinite alternate; /* Apply animation on hover */
}


.header_text {
  font-family: "Nunito";
  font-size: 30px;
  font-weight: bold;

  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333333;
}

.text {
  font-family: "Nunito";
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
}

.btn {
  background-color: #017cff;
  color: white;
  font-weight: 600;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  box-shadow: 0 3px 3px black;
}

.btn:hover {
  background-color: #ffffff;
  color: #017cff;
}

.gif_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  color: white;
  margin-left: 50%;
}
p a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  opacity: 0.25;
  justify-content: center;
  align-items: center;
}

.smaller_text {
  text-align: center;
  font-size: 21px;
  color: black; /* Adjust the color as needed */
  margin: 20px; /* Adjust the margin as needed */
}

.option_btn {
  background-color: #017cff;
  color: white;
  font-weight: 600;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  box-shadow: 0 3px 3px black;
}

.option_btn:hover {
  background-color: #ffffff;
  color: #017cff;
}

/* Your existing styles */

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
